<%= simple_form_for [quote, line_item_date, line_item],
                    html: { class: "form line-item line-item--form" } do |f| %>

  <%= form_error_notification(line_item) %>

  <div class="line-item">
    <div>
      <%= f.input :name,
                  wrapper_html: { class: "line-item__name" },
                  input_html: { autofocus: true } %>
    </div>
    <div>
      <%= f.input :quantity,
                  wrapper_html: { class: "line-item__quantity" } %>
    </div>

    <div>
      <%= f.input :unit_price,
                  wrapper_html: { class: "line-item__price" } %>
    </div>

    <div>
      <%= f.input :description,
                  wrapper_html: { class: "line-item__description" } %>
    </div>
  </div>

  <div class="line-item__actions">
    <%= link_to "Cancel", quote_path(quote), class: "line-item btn btn--light" %>
    <%= f.submit class: "line-item btn btn--secondary" %>
  </div>
<% end %>
